*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:active{
    color: blue;
    font-weight: bold;
}
ul, li{
    list-style: none;
}